* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.section_container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.section_sub_wrapper {
    max-width: 1600px;
    padding: 50px 50px 50px 50px;
    /* width: 90%; */
    background-color: #F0F9FA;
}

.section_sub_child_wrapper {
    position: relative;
    background-color: #F0F9FA;
}

.section_sub_two_wrapper {
    max-width: 1600px;
    padding: 50px 50px 50px 50px;
    background-color: #F0F9FA;
    height: 550px;
}

.section_sub_child_two_wrapper {
    position: relative;
    background-color: #F0F9FA;
    height: 500px;
}

.line_one {
    margin-top: 15px;
    position: absolute;
    width: 90%;
}

.line_two {
    position: absolute;
    width: 90%;
    top: -200px;
}


/* * fisrt_div */
.heading_div_wrapper {
    display: flex;

    justify-content: space-between;
}

.heading_div {
    width: 40%;
}

.heading_div>h2 {
    color: #242E62;
    font-weight: 700;
    font-size: 60px;
}

.heading_div>p {
    margin-top: 20px;
    color: #848484;
    font-size: 22px;
}

.heading_div>div {
    margin-top: 20px;
}

.heading_div>div>button {
    padding: 8px 22px;
    color: #ffffff;
    background-color: #242E62;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.heading_div>div>button:hover {
    background-color: #000000;
}


/* card one */


.card_one {
    width: 20%;
}

.card_one>.card {
    width: 100%;
    z-index: 100;
}

.card_one>.card>div {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: relative;
}

.card_one>.card>div>img {
    width: 28px;
    height: 28px;
    z-index: 100;
}

.card_one>.card>h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #212529;
}

.card_one>.card>p {
    margin-top: 10px;
    font-size: 16px;
    color: #848484;
}


/* Second_div ------------------------------------------------------------------------------------ */

/* card_two */
.card_two {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}


.card_two>.card {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.card_two>.card>div {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.card_two>.card>div>img {
    width: 28px;
    height: 28px;
}


.card_two>.card>h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #212529;
}

.card_two>.card>p {
    margin-top: 10px;
    font-size: 16px;
    color: #848484;
}


/* card_three_four  -------------------------------------------------------------------------------------*/

.card_three_four {
    display: flex;
    justify-content: space-between;
    position: relative;
}


/* card_three */
.card_three {
    left: 70px;
    top: -25px;
    width: 20%;
    position: absolute;
    z-index: 100;

}

.card_three>.card {
    width: 100%;
}

.card_three>.card>div {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.card_three>.card>div>img {
    width: 28px;
    height: 28px;
}

.card_three>.card>h2 {
    margin-top: 40px;
    font-size: 18px;
    color: #212529;
}

.card_three>.card>p {
    margin-top: 10px;
    font-size: 16px;
    color: #848484;
}

/* card four */


.card_four {
    position: absolute;
    right: 0px;
    top: -25px;
    width: 20%;
    z-index: 100;
}


.card_four>.card {
    width: 100%;
    z-index: 100;
}

.card_four>.card>div {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.card_four>.card>div>img {
    width: 28px;
    height: 28px;
}

.card_four>.card>h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #212529;
}

.card_four>.card>p {
    margin-top: 10px;
    font-size: 16px;
    color: #848484;
}


/* line two start  */


/* card_five */

.card_five {
    display: flex;
    justify-content: center;
    position: relative;
}

.card_five>.card {
    position: absolute;
    top: 180px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.card_five>.card>div {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.card_five>.card>div>img {
    width: 28px;
    height: 28px;
}

.card_five>.card>h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #212529;
}

.card_five>.card>p {
    margin-top: 10px;
    font-size: 16px;
    color: #848484;
}


/* card_six */

.card_six {
    display: flex;
    justify-content: flex-start;
    position: relative;
}


.card_six>.card {
    position: absolute;
    left: 70px;
    top: 190px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
}

.card_six>.card>div {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.card_six>.card>div>img {
    width: 28px;
    height: 28px;
}

.card_six>.card>h2 {
    margin-top: 20px;
    font-size: 18px;
    color: #212529;
}

.card_six>.card>p {
    margin-top: 10px;
    font-size: 16px;
    color: #848484;
}



/* Six_div */
.div_Six {
    background-color: #ffffff;
    position: absolute;
    right: -50px;
    bottom: 0px;
    height: 200px;
    width: 300px;
    border-radius: 300px 0px 0px 0px;
}

.div_Six>div {
    margin-top: 20px;

}


.div_Six>div>button {
    position: absolute;
    margin-bottom: 40px;
}


.div_Six>div>button {
    width: 120px;
    height: 35px;
    color: #ffffff;
    background-color: #242E62;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 220px;
}

.div_Six>div>button:hover {
    background-color: #000000;
}




@media only screen and (max-width:1440px) {

    .section_sub_two_wrapper {
        /* max-width: 1600px;
        padding: 50px 50px 50px 50px;
        background-color: #F0F9FA; */
        height: 500px;
    }
    
    .section_sub_child_two_wrapper {
        /* position: relative;
        background-color: #F0F9FA; */
        height: 450px;
    }


    .heading_div>h2 {
        /* color: #242E62;
        font-weight: 700; */
        font-size: 55px;
    }

    .heading_div>p {
        /* margin-top: 20px;
        color: #848484; */
        font-size: 19px;
    }


    /* card_two */
    .card_two {
        margin-top: 0px;
        /* margin-top: 20px; */
        /* display: flex;
        justify-content: center;
        padding-top: 30px; */
    }

    /* card_three */
    .card_three {
        top: -35px;
        /* left: 70px; */
        /* top: 0px;
        width: 20%;
        position: absolute;
        z-index: 100; */
    }

    .card_four {
        top: -35px;
        /* position: absolute;
        right: 0px;
        top: 115px;
        width: 20%;
        z-index: 100; */
    }


    .card_five>.card {
        /* position: absolute; */
        top: 135px;
        /* width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }



    .card_six>.card {
        top: 145px;
        /* position: absolute;
        left: 70px;
        top: 370px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }


}


@media only screen and (max-width:1025px) {

    .section_sub_two_wrapper {
        /* max-width: 1600px;
        padding: 50px 50px 50px 50px;
        background-color: #F0F9FA; */
        height: 690px;
    }

    .section_sub_child_two_wrapper {
        /* position: relative;
        background-color: #F0F9FA; */
        height: 640px;
    }


    .line_two {
        /* position: absolute;
        width: 90%; */
        top: 0px;
    }


    /* * fisrt_div */
    .heading_div_wrapper {
        /* display: flex;
    justify-content: space-between; */
    }

    .heading_div {
        width: 60%;
    }

    .heading_div>h2 {
        font-size: 30px
            /* color: #242E62;
    font-weight: 700;
    font-size: 40px; */
    }

    .heading_div>p {
        margin-top: 10px;
        font-size: 16px;
        /* margin-top: 20px;
    color: #848484;
    font-size: 16px; */
    }

    .heading_div>div {
        /* margin-top: 10px; */
    }

    .heading_div>div>button {
        /* padding: 8px 22px;
    color: #ffffff;
    background-color: #242E62;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    outline: none;
    cursor: pointer; */
    }

    .heading_div>div>button:hover {
        /* background-color: #000000; */
    }


    .card_two {
        /* display: flex;
    justify-content: center;
    padding-top: 30px; */

        /* margin-top: 20px; */
        margin-top: 0px;
        position: relative;
    }


    .card_two>.card {
        position: absolute;
        top: -70px;
        /* width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }

    /* card_three */
    .card_three {
        top: 30px;
        /* top: -30px; */

        /* left: 70px; */
        /* top: 0px;
        width: 20%;
        position: absolute;
        z-index: 100; */
    }

    .card_three>.card>h2 {
        margin-top: 20px;
        /* font-size: 18px;
        color: #212529; */
    }


    .card_four {

        top: 130px;

        /* top: 105px; */



        /* position: absolute;
        right: 0px;
        top: 115px;
        width: 20%;
        z-index: 100; */
    }


    .card_five>.card {
        top: 220px;

        /* top: 320px; */



        /* position: absolute; */
        /* width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }



    .card_six>.card {
        top: 220px;

        /* top: 330px; */


        /* position: absolute;
        left: 70px;
        top: 370px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }



}


@media only screen and (max-width:990px) {

    /* card_three */
    .card_three {
        top: 20px;

        /* top: 0px; */


        /* top: -30px; */

        /* left: 70px; */
        /* top: 0px;
        width: 20%;
        position: absolute;
        z-index: 100; */
    }

    .card_five>.card {
        top: 210px;

        /* top: 220px; */

        /* top: 320px; */



        /* position: absolute; */
        /* width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }



    .card_six>.card {
        top: 210px;

        /* top: 220px;  */

        /* top: 330px; */


        /* position: absolute;
        left: 70px;
        top: 370px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }
}



@media only screen and (max-width:982px) {
    .section_sub_two_wrapper {
        /* max-width: 1600px;
        padding: 50px 50px 50px 50px;
        background-color: #F0F9FA; */
        height: 650px;
    }

    .section_sub_child_two_wrapper {
        /* position: relative;
        background-color: #F0F9FA; */
        height: 600px;
    }


    .line_one {
        margin-top: 15px;
        position: absolute;
        width: 90%;
        top: 50px;
    }

    .line_two {
        /* position: absolute;
        width: 90%; */
        top: -100px;
    }

    /* * fisrt_div */
    .heading_div_wrapper {
        /* display: flex;

        justify-content: space-between; */
    }

    .heading_div {
        width: 55%;
    }

    .heading_div>h2 {
        /* color: #242E62;
        font-weight: 700;
        font-size: 40px; */
        font-size: 30px;
    }

    .heading_div>p {
        font-size: 13px;
        margin-top: 10px;
        font-size: 15px; 
        /* margin-top: 20px;
        color: #848484;
        font-size: 16px; */
    }

    .heading_div>div {
        margin-top: 0px;
        /* margin-top: 20px; */
    }

    .heading_div>div>button {
        margin-top: 10px;
        /* padding: 8px 22px;
        color: #ffffff;
        background-color: #242E62;
        font-weight: 700;
        border-radius: 40px;
        border: none;
        outline: none;
        cursor: pointer; */
    }

    .card_one {
        margin-top: 50px;
        /* width: 20%; */
    }

    .card_one>.card {
        /* width: 100%;
        z-index: 100; */
    }

    .card_two {
        /* display: flex;
    justify-content: center;
    padding-top: 30px; */

        /* margin-top: 20px; */
        margin-top: 0px;
        position: relative;
    }


    .card_two>.card {
        position: absolute;
        top: -210px;
        /* width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }


    /* card_three */
    .card_three {
        top: -115px;
        /* left: 70px;
        top: -25px;
        width: 20%;
        position: absolute;
        z-index: 100; */

    }

    .card_four {
        top: 80px;
        /* position: absolute;
        right: 0px;
        top: 175px;
        width: 20%;
        z-index: 100; */
    }


    .card_five>.card {
        top: 160px;
        /* position: absolute;
        top: 370px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }


    .card_six>.card {
        top: 160px;
        /* position: absolute;
        left: 70px;
        top: 390px;
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }


    /* yah tk kari hy bs */


}




/* @media only screen and (max-width:980px) { */
@media only screen and (max-width:979px) {


    /* .section_sub_wrapper {
        margin: 30px 20px;
        width: 95%;
        position: static;
    }

    .section_sub_two_wrapper {
        margin: 30px 20px;
        width: 95%;
        position: static;
    } */

    /* .section_container {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    } */

    .section_sub_wrapper {
        padding: 50px 20px 0px 20px;
        /* background-color: #F0F9FA; */
    }

    /* .section_sub_child_wrapper {
        position: relative;
        background-color: #F0F9FA;

    } */

    .section_sub_two_wrapper {
        /* padding: 50px 50px 50px 50px; */
        padding: 30px 50px 50px 0px;
        height: 480px;

        /* background-color: #F0F9FA;
        height: 700px; */
    }

    .section_sub_child_two_wrapper {
        padding-left: 20px;
        position: relative;
        background-color: #F0F9FA;
        height: 430px;
    }

    .line_one {
        display: none;

        /* margin-top: 15px;
        position: absolute;
        width: 90%; */
    }

    .line_two {
        display: none;

        /* position: absolute;
        width: 90%; */
    }

    .heading_div_wrapper {
        /* display: flex; */
        flex-direction: column;
        justify-content: flex-start;
        /* justify-content: space-between; */
    }

    .heading_div>p {
        /* margin-top: 20px;
        color: #848484;
        font-size: 16px; */
    }


    .heading_div {
        width: 100%;
    }

    .card_one {
        margin-top: 30px;
        width: 100%;
    }


    .card_two {
        margin-top: 30px;
        padding-top: 0px;
        position: static
            /* display: flex;
    justify-content: center;
    padding-top: 30px; */

            /* margin-top: 20px; */
            /* margin-top: 0px;
        position: relative; */


    }


    .card_two>.card {
        width: 100%;
        position: static;
        /* top: -70px; */

        /* position: absolute;
        top: -70px; */

        /* width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 100; */
    }


    .card_three_four {
        margin-top: 30px;
        /* display: flex;
        justify-content: space-between; */
        position: static;
        flex-direction: column;
    }

    /* card_three */
    .card_three {
        margin-top: 10px;
        position: static;
        width: 100%;

        /* left: 70px;
    top: -20px;
    width: 20%;
    position: absolute;
    z-index: 100; */
    }


    .card_four {
        margin-top: 30px;
        width: 100%;
        position: static;
        /* right: 0px;
        top: 0; */
        /* right: 0px;
        top: 115px;
        width: 20%;
        z-index: 100; */
    }




    .card_five {
        /* margin-top: 10px; */
        position: static;
        /* display: flex;
    justify-content: center;
    position: relative; */
    }

    .card_five>.card {
        position: static;
        width: 100%;
        /* position: absolute;
    top: 360px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100; */
    }



    .card_six {
        margin-top: 30px;
        margin-left: 0px;
        position: static;

        /* display: flex;
    justify-content: flex-start;
    position: relative; */
    }


    .card_six>.card {

        width: 100%;
        position: static;
        left: 0px;


        /* position: absolute;
    left: 70px;
    top: 370px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100; */
    }




    .card_one>.card>h2 {
        margin-top: 10px;

    }

    .card_two>.card>h2 {
        margin-top: 10px;

    }


    .card_three>.card>h2 {
        margin-top: 10px;

    }

    .card_four>.card>h2 {
        margin-top: 10px;

    }

    .card_five>.card>h2 {
        margin-top: 10px;

    }

    .card_six>.card>h2 {
        margin-top: 10px;
    }

    .card_one>.card>div>img {
        width: 35px;
        height: 35px;
    }


    .card_two>.card>div>img {
        width: 35px;
        height: 35px;
    }

    .card_three>.card>div>img {
        width: 35px;
        height: 35px;
    }

    .card_four>.card>div>img {
        width: 35px;
        height: 35px;
    }


    .card_five>.card>div>img {
        width: 35px;
        height: 35px;
    }

    .card_six>.card>div>img {
        width: 35px;
        height: 35px;
    }


    .div_Six {
        /* background-color: #ffffff;
        position: absolute;
        right: -50px;
        bottom: 0px; */
        height: 150px;
        width: 200px;
        /* border-radius: 300px 0px 0px 0px; */
    }

    /* .div_Six>div {
        margin-top: 20px;
    
    } */


    /* .div_Six>div>button {
        position: absolute;
        margin-bottom: 40px;
    }
     */

    .div_Six>div>button {
        /* width: 120px;
        height: 35px;
        color: #ffffff;
        background-color: #242E62;
        font-weight: 700;
        border-radius: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        bottom: 0px; */
        right: 120px;
    }



}



@media only screen and (max-width:480px) {

    .section_sub_two_wrapper {
        /* padding: 50px 50px 50px 50px;
        background-color: #F0F9FA; */
        height: 600px;
    }

    .section_sub_child_two_wrapper {
        /* position: relative;
        background-color: #F0F9FA; */
        height: 600px;
    }

    .div_Six {
        /* background-color: #ffffff;
        position: absolute;
        right: -50px;
        bottom: 0px; */
        /* height: 150px;
        width: 200px; */
        /* border-radius: 300px 0px 0px 0px; */
    }

    /* .div_Six>div {
        margin-top: 20px;
    
    } */


    /* .div_Six>div>button {
        position: absolute;
        margin-bottom: 40px;
    }
     */

    .div_Six>div>button {
        /* width: 120px;
        height: 35px;
        color: #ffffff;
        background-color: #242E62;
        font-weight: 700;
        border-radius: 40px;
        border: none;
        outline: none;
        cursor: pointer;
        position: absolute;
        bottom: 0px; */
        right: 120px;
    }

}



@media only screen and (max-width:425px) {

    .section_sub_two_wrapper {
        /* padding: 50px 50px 50px 50px;
        background-color: #F0F9FA; */
        height: 520px;
    }

    .section_sub_child_two_wrapper {
        /* position: relative;
        background-color: #F0F9FA; */
        height: 520px;
    }

}

@media only screen and (max-width:375px) {

    .section_sub_two_wrapper {
        /* padding: 50px 50px 50px 50px;
        background-color: #F0F9FA; */
        height: 540px;

    }

    .section_sub_child_two_wrapper {
        /* position: relative;
        background-color: #F0F9FA; */
        /* height: 600px; */
        height: 540px;
    }

}

@media only screen and (max-width:320px) {

    .section_sub_two_wrapper {
        /* padding: 50px 50px 50px 50px;
        background-color: #F0F9FA; */
        height: 610px;
    }

    .section_sub_child_two_wrapper {
        /* position: relative;
        background-color: #F0F9FA; */
        height: 610px;
    }

}